
header{

    height: 30vh;
}

nav {
    border-color: rgb(0, 0, 0);
    border-width:30 px;
    border-style: solid;
    padding: 20px;
    margin: 30 px;
    
} 
nav a {

text-decoration: none;
color: rgb(118, 199, 173);
}

nav a:hover{

    color: rgb(192, 108, 108);
    font-size: large;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 30px;
    
}


h1 {
    /* color:fuchsia;
    background-color: cyan; */
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img {
    width:100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chapeau {
    font-size:larger;
}

.rouge {
    color:red;
}

.vert {
    color:green;
}
