 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;


 }


 body{
    font-family:Georgia, 'Times New Roman', Times, serif;
 }

 header{

    height: 100vh;
    width: 100vw;
    background-image: url(image-code.jpg);
    background-size: cover;
 }

 .navbar{
    padding: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
 }

 .navbar a{
    color: white;
 }
  .navbar .logo{

    font-size: 2em;
    font-weight: bold;
  }

  .navbar .nav-link ul{

    display: flex;
   
  }

  .navbar .nav-link ul li{
    margin: 0 25px;

    
   
  }
  .navbar .nav-link ul li.active a{

    color: rgb(32, 125, 211);
    font-weight: 600;
  }

  .navbar .menue-icon{
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 35px;

  }

  .mobile-menu {
     margin-left: 0;
  }
    

  @media screen and (max-width: 900px){

    .navbar{
      padding: 0;
    }

  .navbar .logo {
    position: absolute;
    top: 40px;
    right: 30px;
    }
   .navbar .menue-icon{
    display: block;
   }

   .nav-link{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(170, 15, 15, 0.699);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100vw;
    transition: all 0.10s ease;

   }

   .nav-link.mobile-menu {
    margin-left: 0;
 }
   
  

   .nav-link ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    
   .navbar .nav-link ul li{
    margin: 5px;
    font-size: 1.5em;

    
   
  }
  }

 
  .foot{

padding: 70px 0;
background-color:  #24262b;
box-sizing: border-box;
cursor: pointer;

  }
  .foot-container{
    max-width: 1170px;
    margin: auto;

  }
  .foot.ul{
    list-style: none;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer-col1{

    width: 20%;
    padding: 0 15px;

  }
 .footer-col1 h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 30px;
  font-weight: 500;
  position: relative;
 }

 .footer-col1 h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
 }
 


 .footer-col1 ul li a{
  display: block;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 15px;
 }
